body {
    background: linear-gradient(to bottom, #2c3e50, #1c1c1c); /* Gradient black background */
    color: #FFFFFF; /* White text color */
    font-family: Arial, sans-serif; /* Use a sans-serif font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    text-align: center;
    margin-top: 50px;
}

.dice-container {
    display: flex;
    justify-content: center;
}

.dice-wrapper {
    margin-right: 20px;
}

.player-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dice img {
    margin: 0 10px;
}

.scoreboard {
    margin-top: 20px;
}

.player {
    margin-bottom: 10px;
}

#rollButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db; /* Blue button color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#rollButton:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

#winner {
    font-weight: bold;
    margin-top: 20px;
}
